body{
    width:100%;
    max-width:2000px;
    background-color:rgba(8, 104, 128, 0.479);
}

article {
    background-color: #c3dfe9;
    margin-top: 1em;
}

#ttaf {
    margin-left: 350px;
    margin-right:2100px;
    font-family: sans-serif;
    background-color:#ffffff;
    border-width: 1.5px;
    border-style: solid;

}

h2{
    color:rgb(33, 38, 41);
    font-family:sans-serif;
    text-align: center;
}

#theparty {
    background-color: rgba(8, 104, 128, 0.479))
}
.partymember{
    font-family: sans-serif;
    text-align: center;
}

p {
    font-size: 14px;
    color:#220606;
    font-family: sans-serif;
}

.summary{
    margin-left:100px;
}

#opening{
    font-size: 14px;
    color:#220606;
    font-family: sans-serif;
    text-align:center;
}

img{
    height:300px;
    width:400px;
    display:block;
    margin-left:auto;
    margin-right:auto;

}
#wagon{
    height: 400px;
    width: 300px;
}

#outro {
    font-size:10px;
}
footer{
    margin-top:100px;
}